<!-- my-pets.ejs -->
<h1>My Favorite Pets</h1>
<ul>
    <% favoritePets.forEach(pet => { %>
        <li>
            <h3><%= pet.species %></h3>
            <p><%= pet.description %></p>
            <form action="/remove-from-preferences/<%= pet.animal_id %>" method="POST">
                <button type="submit">Remove from Favorites</button>
            </form>
        </li>
    <% }); %>
</ul>
